<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubactivity.dao.AdminDAO">
	
	<select id="selectMemberList" resultMap="memberListResultMap">
		select MEMBER_ID, MEMBER_NAME, MEMBER_PHONE_NUMBER, MEMBER_REGISTRATION_DATE, MEMBER_LEVEL_CODE, MEMBER_NUMBER, MEMBER_WEBSITE, MEMBER_STATUS
		from club.member
		order by MEMBER_LEVEL_CODE desc
	</select>
	
	<select id="selectMemberlevel" resultType="memberlevel">
		select MEMBER_LEVEL_CODE, MEMBER_LEVEL_DESCRIPTION
		from club.memberlevel
	</select>

	<select id="selectById" parameterType="String" resultType="int">
		SELECT count(*) from club.member WHERE MEMBER_ID = #{memberId}
	</select>
	
	<insert id="insertMember" parameterType="adminMemberCommand">
		INSERT INTO club.member (MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_PHONE_NUMBER, MEMBER_REGISTRATION_DATE, MEMBER_LEVEL_CODE)
		VALUES (#{adminMemberCommand.memberId}, #{adminMemberCommand.memberPassword}, #{adminMemberCommand.memberName}, #{adminMemberCommand.memberPhoneNumber}, now(), #{adminMemberCommand.memberLevelCode});
	</insert>
	
	<update id="updateMember" parameterType="adminMemberCommand">
		UPDATE club.member 
		set MEMBER_LEVEL_CODE = #{adminMemberCommand.memberLevelCode}, 
			MEMBER_NAME = #{adminMemberCommand.memberName}, 
			MEMBER_ID = #{adminMemberCommand.memberId}, 
			MEMBER_PHONE_NUMBER = #{adminMemberCommand.memberPhoneNumber}
		WHERE MEMBER_NUMBER = #{adminMemberCommand.memberNumber}
	</update>
	
	<delete id="deleteMember" parameterType="int">
		DELETE FROM club.member
		WHERE MEMBER_NUMBER = #{memberNumber}
	</delete>
		
	<resultMap type="member" id="memberListResultMap">
		<id column="MEMBER_NUMBER" property="memberNumber" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="MEMBER_PHONE_NUMBER" property="memberPhoneNumber" />
		<result column="MEMBER_REGISTRATION_DATE" property="memberRegisterDate" />
		<result column="MEMBER_WEBSITE" property="memberWebsite" />
		<association select="MEMBER_LEVEL"
			property="memberlevel" column="{memberLevelCode=MEMBER_LEVEL_CODE}" />
		<association select="selectMemberonline"
			property="memberonline" column="{memberStatus=MEMBER_STATUS}" />
	</resultMap>
	
	<select id="MEMBER_LEVEL" parameterType="memberlevel" resultType="memberlevel">
		SELECT MEMBER_LEVEL_CODE, MEMBER_LEVEL_DESCRIPTION 
		from club.memberlevel WHERE MEMBER_LEVEL_CODE = #{memberLevelCode}
	</select>

	<select id="selectMemberonline" parameterType="memberonline" resultType="memberonline">
		SELECT MEMBER_STATUS, MEMBER_STATUS_DESCRIPTION
		from club.memberonline WHERE MEMBER_STATUS = #{memberStatus}
	</select>
	
</mapper>