<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubactivity.dao.ImageDAO">

	<insert id="insertImage" parameterType="imageUploadRequest">
		INSERT INTO club.image (MEMBER_NUMBER, IMAGE_PATH)
		VALUES (#{imageUploadRequest.memberNumber}, #{imageUploadRequest.imagePath});
	</insert>
	
	<select id="getImageNumber" parameterType="String" resultType="int">
		SELECT IMAGE_NUMBER
		FROM club.image
		WHERE IMAGE_PATH = #{imagePath}
	</select>
	
	<select id="checkImage" parameterType="int" resultType="image">
		SELECT MEMBER_NUMBER, IMAGE_PATH, IMAGE_NUMBER
		FROM club.image
		WHERE IMAGE_NUMBER = (SELECT IMAGE_NUMBER
								FROM club.member
								WHERE MEMBER_NUMBER = #{memberNumber})
	</select>
    
    <delete id="deleteImage" parameterType="String">
    	DELETE FROM club.image
    	WHERE IMAGE_PATH = #{imagePath}    
    </delete>
    
    <select id="selectImageList" parameterType="int" resultMap="imageResultMap">
    	SELECT MEMBER_NUMBER, IMAGE_PATH, IMAGE_NUMBER
    	FROM club.image 
    	WHERE MEMBER_NUMBER = #{memberNumber}
    </select>
    
    <resultMap type="image" id="imageResultMap">
		<id column="IMAGE_NUMBER" property="imageNumber" />
		<result column="MEMBER_NUMBER" property="memberNumber" />
		<result column="IMAGE_PATH" property="imagePath" />
	</resultMap>
</mapper>