<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubactivity.dao.MemberDAO">
	<select id="selectMemberById" parameterType="String" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_PHONE_NUMBER, MEMBER_REGISTRATION_DATE, MEMBER_LEVEL_CODE, member.MEMBER_NUMBER, MEMBER_WEBSITE, MESSAGE_NUMBER, MEMBER_STATUS, TITLE, MESSAGE, messagecommand.READ
		from club.member LEFT OUTER JOIN club.messagecommand on club.member.MEMBER_NUMBER = club.messagecommand.MEMBER_NUMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectMemberByMemberNumber" parameterType="int" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_PHONE_NUMBER, MEMBER_REGISTRATION_DATE, MEMBER_LEVEL_CODE, member.MEMBER_NUMBER, MEMBER_WEBSITE, MESSAGE_NUMBER, MEMBER_STATUS, TITLE, MESSAGE, messagecommand.READ
		from club.member LEFT OUTER JOIN club.messagecommand on club.member.MEMBER_NUMBER = club.messagecommand.MEMBER_NUMBER
		WHERE member.MEMBER_NUMBER = #{memberNumber}
	</select>

	<select id="selectById" parameterType="String" resultType="int">
		SELECT count(*) from club.member WHERE MEMBER_ID = #{memberId}
	</select>

	<insert id="insertMember" parameterType="memberRegisterRequest">
		INSERT INTO club.member (MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_PHONE_NUMBER,MEMBER_REGISTRATION_DATE, MEMBER_WEBSITE)
		VALUES (#{memberRegisterRequest.memberId}, #{memberRegisterRequest.memberPassword}, #{memberRegisterRequest.memberName}, #{memberRegisterRequest.memberPhoneNumber}, now(), #{memberRegisterRequest.memberWebsite});
	</insert>

	<update id="updateOnline" parameterType="int">
		update club.member 
		SET MEMBER_STATUS = 1
		where MEMBER_NUMBER = #{memberNumber}
	</update>
	
	<update id="updateOffline" parameterType="int">
		update club.member 
		SET MEMBER_STATUS = 0
		where MEMBER_NUMBER = #{memberNumber}
	</update>
	
	<update id="updatePassword" parameterType="member">
		update club.member 
		SET MEMBER_PASSWORD = #{member.memberPassword} 
		where MEMBER_ID = #{member.memberId}
	</update>

	<update id="updateNumber" parameterType="member">
		update club.member 
		SET MEMBER_PHONE_NUMBER = #{member.memberPhoneNumber} 
		where MEMBER_NUMBER = #{member.memberNumber}
	</update>
	
	<update id="updateWebsite" parameterType="member">
		update club.member 
		SET MEMBER_WEBSITE = #{member.memberWebsite} 
		where MEMBER_NUMBER = #{member.memberNumber}
	</update>

	<resultMap type="member" id="memberResultMap">
		<id column="MEMBER_NUMBER" property="memberNumber" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_PASSWORD" property="memberPassword" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="MEMBER_PHONE_NUMBER" property="memberPhoneNumber" />
		<result column="MEMBER_REGISTRATION_DATE" property="memberRegisterDate" />
		<result column="MEMBER_WEBSITE" property="memberWebsite" />
		<association select="selectMemberlevel"
			property="memberlevel" column="{memberLevelCode=MEMBER_LEVEL_CODE}" />
		<association select="selectMemberonline"
			property="memberonline" column="{memberStatus=MEMBER_STATUS}" />
		<collection property="messagecommand" ofType="messagecommand" javaType="java.util.ArrayList" resultMap="messageResultMap"/>
		<!-- property = vo객체, ofType = typeAlias, javaType = 반환받는 타입 -->
	</resultMap>
	
	<select id="selectMemberlevel" parameterType="memberlevel" resultType="memberlevel">
		SELECT MEMBER_LEVEL_CODE, MEMBER_LEVEL_DESCRIPTION
		from club.memberlevel WHERE MEMBER_LEVEL_CODE = #{memberLevelCode}
	</select>
	
	<select id="selectMemberonline" parameterType="memberonline" resultType="memberonline">
		SELECT MEMBER_STATUS, MEMBER_STATUS_DESCRIPTION
		from club.memberonline WHERE MEMBER_STATUS = #{memberStatus}
	</select>
	
	<!-- type = ofType, id = resultMap -->
	<resultMap type="messagecommand" id="messageResultMap" >
		<id column="MESSAGE_NUMBER" property="messageNumber" />
		<result column="MEMBER_NUMBER" property="memberNumber" />
		<result column="TITLE" property="title" />
		<result column="MESSAGE" property="message" />
		<result column="READ" property="read" />
	</resultMap>

</mapper>