<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubactivity.dao.MessageDAO">
	
	<select id="findListByMemberNumber" parameterType="int" resultMap="messageResultMap">
		SELECT MEMBER_NUMBER, MESSAGE_NUMBER, TITLE, MESSAGE, messagecommand.READ, FROM_MEMBER_NUMBER
		FROM club.messagecommand
		WHERE MEMBER_NUMBER = #{memberNumber }
	</select>
	
	<select id="selectByMessageNumber" parameterType="int" resultMap="messageResultMap">
		SELECT MEMBER_NUMBER, MESSAGE_NUMBER, TITLE, MESSAGE, messagecommand.READ, FROM_MEMBER_NUMBER
		FROM club.messagecommand
		WHERE MESSAGE_NUMBER = #{messageNumber }
	</select>
	
	<select id="selectMemberNumberById" parameterType="String" resultType="int">
		SELECT MEMBER_NUMBER
		FROM club.member
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<insert id="sendMessage" parameterType="messagecommand">
		INSERT INTO club.messagecommand (MEMBER_NUMBER, TITLE, MESSAGE, FROM_MEMBER_NUMBER)
		VALUES (#{messagecommand.memberNumber}, #{messagecommand.title}, #{messagecommand.message}, #{messagecommand.fromMemberNumber});
	</insert>
	
	<insert id="sendWelcomeMessage" parameterType="int">
		INSERT INTO club.messagecommand (MEMBER_NUMBER, TITLE, MESSAGE, FROM_MEMBER_NUMBER)
		VALUES (#{memberNumber}, "KLOROFIL", "회원가입을 축하드립니다.", 0);
	</insert>
	
	<update id="updateMessage" parameterType="int" >
		update club.messagecommand
		set messagecommand.READ = 1
		where MESSAGE_NUMBER = #{messageNumber }
	</update>
	
	<resultMap type="messagecommand" id="messageResultMap">
		<id column="MESSAGE_NUMBER" property="messageNumber" />
		<result column="TITLE" property="title" />
		<result column="MESSAGE" property="message" />
		<result column="READ" property="read" />
		<association select="selectMemberName"
			property="member" column="{memberNumber=FROM_MEMBER_NUMBER}" />
	</resultMap>
	
	<select id="selectMemberName" parameterType="member" resultType="member" >
		SELECT MEMBER_NAME
		FROM club.member
		WHERE MEMBER_NUMBER = #{memberNumber }
	</select>
</mapper>